<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="side">
        <md-toolbar>
              <span>  <a routerLink="/login" routerLinkActive="active">Login</a></span>
  <md-toolbar-row>
                  <span>  <a routerLink="/heroes" routerLinkActive="active">Heroes</a></span>
              </md-toolbar-row>
  <md-toolbar-row>
                  <span>Third Row</span>
              </md-toolbar-row>
          </md-toolbar>
    </md-sidenav>
  <md-toolbar color="primary">
      <button md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <span>My App</span>
  </md-toolbar>
  </md-sidenav-container>
<router-outlet></router-outlet>
